name: Build and Push Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    # ADICIONAR ESTE BLOCO DE PERMISSÕES
    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }} # Mantendo o que você usou, mas secrets.GITHUB_TOKEN é o padrão

      - name: Build Docker Image
        run: |
          docker build -t ghcr.io/${{ github.repository }}/remote-ml:latest .

      - name: Push Docker Image
        run: |
          docker push ghcr.io/${{ github.repository }}/remote-ml:latest