name: Build Docker Image

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Log in to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Build image
        run: |
          docker build . -t ghcr.io/${{ github.repository }}/remote-ml:latest

      - name: Push image
        run: |
          docker push ghcr.io/${{ github.repository }}/remote-ml:latest
